@import 'variables/colors';
@import 'variables/sizes';

.container {
  align-items: center;
  background: left / contain no-repeat url('../../../../../assets/img_fondo_2x.png');
  background-color: $bridal-heath;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;

  > :first-child {
    margin-bottom: 5vh;
  }

  > :nth-child(2) {
    margin-bottom: 10vh;
  }
}

.options {
  display: flex;
}

.option {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 8vw;

  > :nth-child(-n + 2),
  :nth-child(4) {
    margin-bottom: 25px;
  }
}

.title {
  max-width: 900px;
  text-align: center;
}

.icon-option {
  width: 55px;
}

.instagram-icon {
  bottom: 40px;
  position: absolute;
  right: 40px;
  width: 50px;
}

@media only screen and (max-width: $mobile-screens) {
  .icon-option {
    left: -50px;
    position: absolute;
    top: 10px;
    width: 40px;
  }

  .options {
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    max-height: 350px;
  }

  .option {
    margin-left: 0;
    position: relative;

    > :nth-child(-n + 2),
    :nth-child(4) {
      margin-bottom: 10px;
    }
  }
  .container {
    padding: 0 20px;
    > :first-child {
      margin-bottom: 30px;
    }

    > :nth-child(2) {
      margin-bottom: 15px;
    }
  }

  .message {
    font-size: 16px;
    text-align: center;
  }

  .instagram-icon {
    bottom: 20px;
    right: 20px;
    width: 30px;
  }
}
