@import 'variables/colors';
@import 'variables/sizes';

.container {
  align-items: center;
  background: left / contain no-repeat url('../../../../../assets/img_fondo_2x.png');
  background-color: $bridal-heath;
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  position: relative;

  > :first-child {
    margin-bottom: 5vh;
  }

  > :nth-child(2) {
    margin-bottom: 10vh;
  }
}

.options {
  display: flex;
}

.option {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  margin-left: 8vw;

  > :nth-child(-n + 2),
  :nth-child(4) {
    margin-bottom: 25px;
  }
}

.title {
  max-width: 900px;
  text-align: center;
}

.icon-option {
  width: 55px;
}

.animate {
  cursor: pointer;
  position: relative;

  &::before {
    animation: animate 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    border: 2px solid $tacha;
    border-radius: 50%;
    content: '';
    height: 70px;
    left: 0;
    position: absolute;
    top: 0;
    width: 70px;
    z-index: 1;
  }
}

.instagram-pulse {
  bottom: 40px;
  position: absolute;
  right: 40px;

  &::before {
    height: 80px;
    left: -17px;
    top: -16px;
    width: 80px;
  }
}

.whatsapp-pulse {
  bottom: 120px;
  position: absolute;
  right: 25px;

  &::before {
    left: 3px;
    top: -14px;
  }
}

.instagram-icon {
  width: 50px;
}
.whatsapp-icon {
  width: 80px;
}

@media only screen and (max-width: $small-screens) {
  .icon-option {
    left: -50px;
    position: absolute;
    top: 10px;
    width: 40px;
    z-index: 1;
  }

  .instagram-pulse {
    &::before {
      height: 70px;
      width: 70px;
      // z-index: 1;
    }
  }

  .whatsapp-pulse {
    &::before {
      height: 70px;
      width: 70px;
      // z-index: 1;
    }
  }

  .options {
    flex-direction: column;
    height: 100%;
    justify-content: space-around;
    max-height: 350px;
  }

  .option {
    margin-left: 0;
    position: relative;

    > :nth-child(-n + 2),
    :nth-child(4) {
      margin-bottom: 10px;
    }
  }
  .container {
    padding: 0 20px;
    > :first-child {
      margin-bottom: 30px;
    }

    > :nth-child(2) {
      margin-bottom: 15px;
    }
  }

  .message {
    font-size: 16px;
    text-align: center;
  }

  .instagram-icon {
    width: 30px;
  }

  .whatsapp-icon {
    width: 50px;
  }

  .instagram-pulse {
    bottom: 20px;
    right: 20px;

    &::before {
      left: -22px;
      top: -22px;
    }
  }

  .whatsapp-pulse {
    bottom: 90px;
    right: 11px;

    &::before {
      left: -12px;
      top: -22px;
    }
  }
}

@keyframes animate {
  from {
    opacity: 0.5;
    transform: scale(0);
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}
