@import './equalizer.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:100,100i,400,400i,700,700i&display=swap');
@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,400i,700,700i&display=swap');

@import './text.scss';
@import './buttons.scss';
@import './parallax.scss';

* {
  box-sizing: border-box;
  font-family: 'Playfair Display', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
  width: 100%;
}
body {
  margin: 0;
}
